.buttonPrimaryNeutral {
  margin-left: auto;
  display: block;
  width: 100px;
  margin-bottom: 3px;
}

.search_header {
  display: flex;
  flex-direction: row;
}

input[type="checkbox"] {
  margin-top: 15px;
}


