<header>
  <h1>VUTTR</h1>
  <h3>Very Useful Tools to Remember</h3>
  <div class="search_header">
    <input type="search" class="search" placeholder="Digite o que está procurando..." (keyup)="search($event)">
    <div>
      <input type="checkbox" name="checkbox" id="checkbox" [checked]="tagsOnly" (change)="tagsOnly = !tagsOnly">
      <label for="checkbox">search in tags only</label>
    </div>
    <button type="button" class="buttonPrimaryNeutral" (click)="add()">+ Add</button>
  </div>
</header>


<section class="cardMainFlat" *ngFor ="let tool of tools">
  <div>
    <a [href]="tool?.link" target="_blank">{{tool?.title}}</a>
    <div>
      <span class="icon-close"></span>
      <button class="buttonQuartiaryNeutral" (click)="delete(tool)">Remove</button>
    </div>
  </div>
  <p>{{tool?.description}}</p>
  <span *ngFor="let tag of tool.tags">{{'#' + tag + ' ' }}</span>
</section>
