body {
   text-align: left;
   font-family: Source Sans Pro, Semibold, serif;
   font-size: 20px;
   letter-spacing: 0.4px;
   color: #170C3A;
   opacity: 1;
 }

h1 {
  font-size: 42px;
  letter-spacing: 0.84px;
}

h2 {
  font-size: 36px;
  letter-spacing: 0.72px;
}

h3 {
  font-size: 30px;
  letter-spacing: 0.6px;
}

h5 {
  font-size: 24px;
  letter-spacing: 0.48px;
}
